*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-ryu {
    height: 400px;
}

.row{ 
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
}

.col{
    display: flex;
    flex-direction: column;
    color: red;
}
.row:nth-child(1) {
    gap: 5px;
}

.row:nth-child(1)  .col:nth-child(2){
    width: 35%;
}

.row:nth-child(1)  .col:nth-child(2) select:hover{
    background-color: red;

}
.row:nth-child(1)  .col:nth-child(2) select:focus{
    outline: none;
}
.row:nth-child(1)  .col:nth-child(2) select option{
    background-color: #000;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}  

.login-box{
    height: auto;
    width: 370px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.178);
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

.login-box > h1{
    text-transform: uppercase;
    font-size: 30px;
    color: red;
    text-align: center;
    margin: 20px 0 10px 0;
    font-family: 'Roboto condensed', Arial, Helvetica, sans-serif;
}

.row:nth-child(1){
    margin-bottom: 10px;
} 

.row > .col{
    width: 100%;
}

.login-box input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding-left: 5px;
    border-radius: 3px;
}

.login-box input:focus{
    outline: none;
    border: 2px solid red;
}

.login-box label{
    margin-bottom: 3px;
}

.login-box button{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: red;
    color: #000;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.2s all;
    border-radius: 5px;
}

.login-box button:hover{
    background-color: rgb(200, 0, 0);
}

.login-box button:active{
    box-shadow: 1px 1px 5px 5px white;
}


.button-index{
    margin: 0 5px 20px 0;
}

.button-login{
    margin: 0 0 20px 5px;
}